<nav class="navbar navbar-expand-md navbar-light bg-invi">
  <div class="container">
    <a class="navbar-brand" href="/">TheReviu</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav me-auto mb-2 mb-md-0">
        <li class="nav-item">
          <a class="nav-link" href="/profile">Profile</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/review">Review</a>
        </li>
      </ul>
      <div class="dropdown">
        <a href="#" class="d-block link-light text-decoration-none dropdown-toggle text-dark font navsize" id="user_nav" data-bs-toggle="dropdown" aria-expanded="false">
          <i class="bi bi-person"></i>
        </a>
        <ul class="dropdown-menu dropdown-menu-light text-small dropdown-menu-end" aria-labelledby="user_nav">
          <li><a class="dropdown-item" href="/add-review">Add Review</a></li>
          <li><a class="dropdown-item" href="#">Settings</a></li>
          <li><a class="dropdown-item" href="/profile">Profile</a></li>
          <li><hr class="dropdown-divider"></li>
          <li><a class="dropdown-item" href="#">Sign out</a></li>
        </ul>
      </div>
    </div>
  </div>
</nav>